#Imagem de praia no brasil{
    width: 40%;
}

#conteudo-praias{
    text-align: right;
}
.subtitulo{
    border: solid blue 5px;
}
#link{
    color:gold 
    text-decoration: none;
} 


#link:hover{
    color: chartreuse;
    
} 